html{
    scroll-behavior:smooth;
}

body { 
    margin: auto;
    font-family: 'Roboto';
    font-size: 14px;
    font-weight: 400;
    background-color: #E5E5E5;
    color: #757575;
    letter-spacing: 0.02em;
    line-height: 16px; }
    

body a:hover {
    cursor: pointer;
    color: #2196F3; }

    body a:focus {
    color: #2196F3; }

.contacts a{
    color: #757575;
}
    
body header li:hover {
     color: #2196F3; }

.logo:hover{
    color: black; }
.logo:focus {
    color: black; }
    

a { text-decoration: none;
    color: black;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0.02em; }


ul{ list-style: none; }


/*header*/
header {
    width: 1600px;
    height: 80px;
    background-color: #FFFFFF;
    color: black;
    display: flex; }

 div{
    display: inline-flex;
    height: 32px;
    width: 1170px;
    margin: auto; }

.studio {
    color: #2196F3; }
.portfolio {
    color: #2196F3; }

 .nvgtn {
    display: flex;
    width: 532px; }



 .nvgtn ul{
    margin-top: 0px;
    margin-left:93px;
    display: inline-flex;
    padding-left: 0px;
    padding-top: 8px;
    padding-bottom: 8px;
    height: 16px;
    width: 294px;
    line-height: 16px;
    
  }

.logo {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    letter-spacing: 0.02em;
    color: black;
    line-height: 31px;
    height: 32px; }

.logo span {
    color: #2196F3; }

.contacts {
    margin-top: 8px;
    margin-left: 331px;
    display: inline-flex;
    padding-left: 0px;
    padding-top: 0px;
    height: 16px; }

.nvgtn-site {
    padding-right: 50px; }

.contacts li{
    height: 16px;
    line-height: 16px; }

.phone {
    margin-left: 50px;
    width: 122px; }



    /*ПЕРША СЕКЦІЯ*/

.first-sctn {
    margin-top: -40px;
    width: 1600px;
    height: 600px;
    background-color: #2F303A; }


.first-sctn h1{
    display: flex;
    width: 696px;
    padding-top: 200px;
    margin-left: auto;
    margin-right:auto;
    text-transform: uppercase;
    color: #FFFFFF;
    
    font-weight: 900;
    font-size: 44px;
    line-height: 60px;
    letter-spacing: 0.06em;
    text-align: center;}

.first-sctn button {
    display: flex;
    margin-top: 30px;
    margin-left:  auto;
    margin-right: auto;
    background: #2196F3;
    border: #2196F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    color: #FFFFFF;
    width: 200px;
    height: 50px;}

.first-sctn button:hover{
    cursor: pointer; }


.first-sctn button:active {
    background-color: #48abfc; }


.text-btn {
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    display: flex;
    margin: auto;
    letter-spacing: 0.06em; }

/*ДРУГА СЕКЦІЯ*/

.second-sctn {
    margin-top: -40px;
    width: 1600px;
    height: 769px;
    background-color: #FFFFFF; }

.details {
    
    width: 1170px;
    height: 101px;
    padding-top: 0px;
    margin-left:auto;
    margin-right: auto; }

.details ul{
    margin-top: 94px;
    height: min-content;
    padding-top: 0px;
    display: inline-flex;
    padding-left: 0px;
    padding-right: 0px; }

.details li p {
    
    margin-top: 10px;
    width: 270px;
    height: min-content;
    letter-spacing: 0.03em;
    padding-left: 0px;
    padding-right:33px;
    padding-top: 0px;
    line-height: 24px; }


.details li h3 {
    margin-top: 0px;
    padding-top: 0px;
    height: min-content;
    width: 270px;
    letter-spacing: 0.03em;
    padding-left: 0px;
    padding-right: 30px;
    color: black;
    font-weight: 700;
    letter-spacing: 0.03em;
    text-transform: uppercase; }

.foto-details {
    width: 1170px;
    height: min-content;
    margin-top: 0px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 184px;
    padding: 0px; }


.foto-details h2 {
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121; }

.foto-details ul {
    display: flex;
    padding: 0px;
    padding-bottom: 0px; }


.foto-details ul li {
    padding-right: 30px;
    padding-bottom: 0px; }


.our-team{
    margin-top: -40px;
    width: 1600px;
    height: 648px;
    background-color: #F5F4FA; }


.our-team ul {
    display: flex; }


.our-team h2{
width: max-content;
margin-left: auto;
margin-right: auto;
padding-top: 94px;
font-weight: 700;
font-size: 36px;
line-height: 42px;
letter-spacing: 0.03em;
padding-bottom: 50px;
color: #212121; }



.our-team ul {
    width: 1170px;
    padding-left: 0px;
    margin-top: -40px;
    margin-left: auto;
    margin-right: auto; }


.our-team ul li {
    margin-right: 30px;
    background: #FFFFFF;
    box-shadow: 
    0px 1px 3px rgba(0, 0, 0, 0.12), 
    0px 1px 1px rgba(0, 0, 0, 0.14), 
    0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px; }



.our-team ul li h3 {
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    margin-top: 30px;   
    
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121; }



.our-team ul li p {
    text-align: center;
    letter-spacing: 0.03em;
    margin-top: 0px;
    margin-bottom: 30px; }



footer {
    width: 1600px;
    height: 252px;
    background-color: #2F303A;}



footer a {
    font-family: 'Roboto';
    font-style: normal;
    line-height: 24px;
    letter-spacing: 0.03em;
    
    color: rgba(255, 255, 255, 0.6); }


footer ul li {
    margin: 10px 0; }



footer div {
    display: flex;
    width: 1170px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 60px;
    margin-bottom: 20px; }



footer .logo  {
    width:fit-content;
    padding-top: 0px;
    margin-left: 0;
    margin-right: auto; }

   

footer address {  
    width: 1170px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;}



footer address li{
    margin-left: -40px;}



.google-maps {
    color: #FFFFFF; }



/* СТОРІНКА ПОРТФОЛІО*/


.porfolio-main {
    width: 1600px;
    height: fit-content;
    margin-top: -13px;
    background-color:#ffffff;
    padding-bottom: 90px; }


.buttons {
    display: flex;
    width: max-content;
    padding-left: 0px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 94px; }


.buttons li{
    padding-right: 8px; }



.name-button {
    padding-left: 22px;
    padding-right:22px;
    padding-top: 6px;
    height: 73px;
    font-weight:bold;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.03em; }



.buttons li button {
    background: #F5F4FA;
    box-shadow: 0px 3px 1px 
    rgba(0, 0, 0, 0.1), 0px 1px 2px 
    rgba(0, 0, 0, 0.08), 0px 2px 2px 
    rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    border: #2196F3;
    height: 38px;
    cursor: pointer;
    color: #000000;}

.buttons li button:hover{
    background: #2196F3;
    box-shadow: 0px 3px 1px 
    rgba(0, 0, 0, 0.1), 0px 1px 2px 
    rgba(0, 0, 0, 0.08), 0px 2px 2px 
    rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    border: #2196F3;
    height: 38px;
    cursor: pointer;
    color: #FFFFFF;}

.buttons li button:focus {
    background: #2196F3;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    border: #2196F3;
    height: 38px;
    cursor: pointer;
    color: #FFFFFF; }


.buttons li button:active {
    background: #4faefc;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    border: #2196F3;
    height: 38px;
    cursor: pointer;
    color: #FFFFFF; }

.portfolio-cards {
    width: 1170px;
    margin: auto;
    padding-left: 0px;
    height: fit-content; }


.portfolio-cards ul{
    width: 1170px;
    padding-left: 0px;
    padding-top: 0px;
    margin-top: 0px;
    height: 1260px; }


.portfolio-cards ul ul{
    display: flex;
    width: 1170px;
    padding-left: 0px;
    padding-top: 0px;
    height: 1260px;
    height: fit-content;
    margin-top: 30px; }


.portfolio-cards ul ul li {
    box-sizing: border-box;
    width: 371px;
    height: 404px;
    background: #FFFFFF;
    border: 1px solid #EEEEEE;
    margin-right: 30px; }



.portfolio-cards ul li h2 {
    text-align: left;
    color: #212121;
    font-weight: 700;
    font-size: 18px;
    line-height: 36px;
    letter-spacing: 0.06em;
    padding-left: 24px;
    margin-top: 10px; }

.portfolio-cards ul li p {
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.03em;
    padding-left: 24px;
    margin-top: 4px; }

#contacts {
    scroll-behavior:initial;
}