/*HEADER*/

body {
    background-color: #E5E5E5;


}

a {
    text-decoration: none;
}

header {
    position: absolute;
    width: 1600px;
    height: 80px;
    left: 0px;
    top: 0px;


    background: #FFFFFF;
}

ul li {
    display: inline-block;
}

header h1 {
    position: absolute;
    width: 145px;
    height: 31px;
    margin-left: 215px;
    margin-top: 24px;

    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 27px;
    line-height: 31px;

    letter-spacing: 0.03em;
}

.logo-web {
    color: rgba(33, 150, 243, 1);
}

.logo-studio {
    color: rgba(0, 0, 0, 1);
}

.navigation {
    position: absolute;
    width: 350px;
    height: 16px;
    left: 453px;
    top: 22px;
    word-spacing: 50px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
}

.navigation span {
    color: #212121;
}

.navigation span:hover {
    color: #2196F3;
}

.contacts {
    position: absolute;
    width: 311px;
    height: 16px;
    right: 215px;
    top: 22px;
    word-spacing: 50px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;


}

.contacts span {
    word-spacing: normal;
    color: rgba(117, 117, 117, 1);

}

.contacts span:hover {
    word-spacing: normal;
    color: #2196F3;
}

/*section "ЭФФЕКТИВНЫЕ РЕШЕНИЯ ДЛЯ ВАШЕГО БИЗНЕСА"*/

.to-order-service {
    position: absolute;
    width: 1600px;
    height: 600px;
    left: 0px;
    top: 80px;

    background: #2F303A;
}

.to-order-service h1 {
    position: absolute;
    width: 696px;
    height: 120px;
    left: 452px;
    margin-top: 200px;


    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: 60px;

    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;

    color: #FFFFFF;
}

.to-order-service button {
    position: absolute;
    width: 200px;
    height: 50px;
    left: 700px;
    margin-top: 350px;
    background: #2196F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: #2196F3;
    cursor: pointer;
}


.to-order-service button:active {
    position: absolute;
    width: 200px;
    height: 50px;
    left: 700px;
    margin-top: 350px;
    background: #33a0f8;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: #2196F3 !important;
    cursor: pointer;
}

.to-order-service button span {

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    color: #FFFFFF;
}

/* section with photo and details*/

.section-photo {
    background-color: #FFFFFF;
    position: absolute;
    width: 1600px;
    height: 769px;
    left: 0px;
    top: 680px;
}

.section-details {
    display: inline-block;
    position: absolute;
    width: 1212px;
    height: 101px;
    padding-left: 215px;
    padding-top: 94px;


}

.section-photo .section-details li h3 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #212121;

}

.section-photo .section-details li p {
    width: 270px;
    height: 101px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    margin-right: 30px;


    color: #757575;
}


.section-photo h2 {
    position: absolute;
    width: 400px;
    height: 42px;
    left: 612px;
    top: 289px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;

    color: #212121;
}

.list-photos {
    width: 1208px;
    padding-top: 381px;
    padding-left: 215px;
}

.list-photos li {
    width: 370px;
    margin-right: 25px;
}


/*sector our team*/

.our-team {
    background-color: rgba(245, 244, 250, 1);
    position: absolute;
    width: 1600px;
    height: 648px;
    left: 0px;
    top: 1449px;
}

.our-team h2 {
    position: absolute;
    width: 270px;
    height: 42px;
    padding-left: 668px;
    padding-top: 94px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;

    color: #212121;
}

.list-team {
    position: absolute;
    width: 1220px;
    height: 368px;
    padding-left: 215px;
    padding-top: 186px;

}

.list-team li {
    width: 270px;
    height: 368px;
    margin-right: 25px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.list-team li h3 {
    position: absolute;
    width: 152px;
    height: 19px;
    padding-left: 60px;
    margin-top: 30px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;


    text-align: center;
    letter-spacing: 0.03em;

    color: #212121;
}

.list-team li p {
    position: absolute;
    width: 147px;
    height: 19px;
    padding-left: 60px;
    margin-top: 59px;


    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;


    text-align: center;
    letter-spacing: 0.03em;

    color: #757575;

}

/*footer*/

footer {
    position: absolute;
    width: 1600px;
    height: 252px;
    left: 0px;
    top: 2178px;

    background: #2F303A;
}

footer h1 {
    position: absolute;
    width: 145px;
    height: 31px;
    left: 215px;
    top: 60px;

    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;


    letter-spacing: 0.03em;
}

footer address {
    display: block;
    position: absolute;
    width: 260px;
    height: 21px;
    padding-left: 175px;
    margin-top: 121px;
}

.google-maps:visited {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;

    color: #FFFFFF;
}

.google-maps {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;

    color: #FFFFFF;
}

.footer-address {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;

    letter-spacing: 0.03em;

    color: rgba(255, 255, 255, 0.6);
}

/*portfolio*/

main {
    position: absolute;
    left: 0px;
    top: 81px;
    width: 1600px;
    height: 1548px;
    background-color: #ffffff;
}

.buttons {
    position: absolute;
    width: 700px;
    height: 54px;
    top: 94px;
    padding-left: 490px;
}


.buttons li button {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    margin-right: 8px;
    text-align: center;
    letter-spacing: 0.03em;
    background: #F5F4FA;
    border-radius: 4px;
    border: #2196F3;
    color: #212121;

}

.buttons li button:hover {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    cursor: pointer;


    text-align: center;
    letter-spacing: 0.03em;

    color: #ffffff;
    background: #2196F3;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    border: #2196F3;
}

.name-button {
    padding-left: 22px;
    padding-right: 22px;
    padding-top: 6px;
    padding-bottom: 6px;
}

.portfolio-cards {
    margin-top: 182px;
    margin-left: 215px;
    width: 1220px;
    padding-left: 0px;
    padding-right: 0px;

}

.portfolio-cards li {
    padding-left: 0px;
    padding-right: 0px;
    width: 370px;
    height: 404px;
    background: #FFFFFF;
    border: 1px solid #EEEEEE;
    margin-right: 22px;
    margin-top: 22px;
}

.portfolio-cards li h3 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 36px;
    color: #212121;
    text-align: left;
    padding-left: 24px;
    position: absolute;
    width: 322px;
    height: 36px;
}

.portfolio-cards li p {
    width: 322px;
    height: 30px;
    padding-left: 24px;
    margin-top: 60px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;

    color: #757575;

}

.portfolio-footer {
    top: 1628px;
}